@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f7f4ef;
  color: #252525;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #a56a43;
  color: white;
}